<%= simple_form_for @offer, :html => { class: 'form' } do |f| %>
<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :description %>
</div>

<div class="row form-actions">
  <%= f.button :submit, "Create My Offer", class: "btn btn-sm btn-primary mt-3" %>
</div>
<% end %>

<div class="row bottom">
  <%= link_to "Return to Offers List", offers_path, class: "btn btn-sm mt-2 border" %>
</div>