<div class="row">
    <div class="card p-3">

        <%-# We initialized @offer in the controller show method, so we can use it here -%>
        <h2><%= @offer.title %></h2>
        <h5><%= @offer.description %></h5>

        <%-# `image_tag` is another rails helper, like `link_to`-%>
        <%-# image_tag @offer.picture %>
        <div class="row">
            <%= link_to 'Edit this Offer', edit_offer_path(@offer), class: "btn-sm btn-primary p-2 shadow-sm text-white" %>
                    <%= link_to "Delete this Offer", offer_path(@offer), method: :delete, class: "btn-sm btn-danger p-2 shadow-sm text-white" %>

        </div>

        <%= link_to 'Back to all offers', offers_path, class: "btn-sm btn-outline-primary border-primary p-2 shadow-sm" %>
    </div>
</div>