<div class="row">
    <div class="card p-4">
        <%-# We initialized @offer in the controller show method, so we can use it here -%>
        <h2 class="my-2"><%= @offer.title %></h2>
        <h5 class="my-3"><%= @offer.description %></h5>
        <%-# `image_tag` is another rails helper, like `link_to`-%>
        <%-# image_tag @offer.picture %>
        <div class="row">
            <%= link_to 'Edit Offer', edit_offer_path(@offer), class: "btn-sm btn-primary px-3 shadow-sm text-white m-3" %>
            <%= link_to "Delete Offer", offer_path(@offer), method: :delete, class: "btn-sm btn-danger px-3 shadow-sm text-white m-3" %>
        </div>
        <div class="row text-center">
        <%= link_to 'Back to All Offers', offers_path, class: "btn-sm border-primary px-3 shadow-sm text-center" %>
    </div>
</div>
</div>